body {
  @include dark-theme;
  font-family: $font-family;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  background-color: var(--color-main-background);
  color: var(--color-main-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

body.modal-open {
  overflow: hidden;
}
