<div class='backdrop'>
  <div class='modal modal-authorization'>
    <form class='authorization-form'>
      <p class='authorization-form__text'>Для авторизации можете использовать Google Account:</p>
      <a class='authorization-form__google-button'
          href="https://callboard-backend.goit.global/auth/google"
          aria-label='google button'>
      </a>
      <p class='authorization-form__text'>Или войдите в приложение используя e-mail и пароль:</p>
      <label class='authorization-form__label'>
        <input
          class='authorization-form__input'
          type='email'
          name='email'
          required
          placeholder='E-mail'
          pattern='^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$'
        />
        <span></span>
      </label>
      <label class='authorization-form__label'>
        <input
          class='authorization-form__input'
          type='password'
          name='password'
          required
          placeholder='Password'
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,16}$"
          title="Должен содержать 1 загланую букву и 1 цифру."
        />
        <span></span>
      </label>
      <div class='authorization-form__button-wrapper'>
        <button class='primary-button button--authorization-form button-auth' type='button'>Войти</button>
        <button
          class='secondary-button button--authorization-form button-registration'
          type='button'
        >
          Регистрация
        </button>
      </div>
    </form>
    <button class='modal-close-button' type='button' aria-label='Close modal'>
      <svg class='modal-close-button__icon' width='14' height='14' viewBox='0 0 32 32'>
        <path
          d='M32 3.223l-3.223-3.223-12.777 12.777-12.777-12.777-3.223 3.223 12.777 12.777-12.777 12.777 3.223 3.223 12.777-12.777 12.777 12.777 3.223-3.223-12.777-12.777 12.777-12.777z'
        ></path>
      </svg>
    </button>
  </div>
</div>