{{#each this}}
<section class="categories">
    <div class="categories__container container">
        <div class="categories__name">
            <h2 class="categories__titel">{{this.name}}</h2>
            <span class="categories__titel--allCard"><a class="categories__titel--link js-show-all" href="{{link}}" data-key="{{key}}"">Смотреть все</a></span>
        </div>
        <div class="container__card--list">
            <button class="button__arow--left" type="button">
                <svg class="icon" width="18" height="18">
                    <use href="/sprite.5ec50489.svg#icon-arrow_left"></use>
                </svg>
            </button>
                <div class="categories__card--list">
                    {{{card}}}
                </div>
            <button class="button__arow-right" type="button">
                <svg class="icon" width="18" height="18">
                    <use href="/sprite.5ec50489.svg#icon-arrow_right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>
{{/each}}