{{#each this}}
<section class="categories container">
    <div class="categories__container container">
        <div class="categories__name">
            <h2 class="categories__titel">{{rusName}}</h2>
            <span class="categories__titel--allCard"><a class="categories__titel--link js-show-all" href="{{link}}" data-key="{{key}}"">Смотреть все</a></span>
        </div>
        <div class="container__card--list swiper-container">
                <div class="categories__card--list swiper-wrapper">
                    {{{card}}}
                </div>
                

             <div class="swiper-pagination"></div>
        </div>

         <button class="button__arow--left" type="button" data-action="left">
                <svg class="icon" width="18" height="18">
                    <path d="M21.333 9.2l-2.03-2.089L10.666 16l8.637 8.889 2.03-2.089L14.74 16l6.593-6.8z"/>
                    {{!-- <use href="/sprite.5ec50489.svg#icon-arrow_left"></use> --}}
                </svg>
            </button>
            <button class="button__arow-right" type="button" data-action="right">
                <svg class="icon" width="18" height="18">
                    <path d="M10.667 9.2l2.03-2.089L21.334 16l-8.637 8.889-2.03-2.089L17.26 16l-6.593-6.8z"/>
                    {{!-- <use href="/sprite.5ec50489.svg#icon-arrow_right"></use> --}}
                </svg>
            </button>
           
    </div>
</section>
{{/each}}