{{#each this}}
<section class="categories container">
    <div class="categories__container container">
        <div class="categories__name">
            <h2 class="categories__titel">{{rusName}}</h2>
            <span class="categories__titel--allCard"><a class="categories__titel--link js-show-all" href="{{link}}" data-key="{{key}}"">Смотреть все</a></span>
        </div>
        <div class="container__card--list swiper-container">
                <div class="categories__card--list swiper-wrapper">
                    {{{card}}}
                </div>
                

             <div class="swiper-pagination"></div>
        </div>

         <button class="button__arow--left" type="button" data-action="left">
              <div class="icon-arow--left"></div>
              <div class="icon-arow--leftW"></div>
            </button>
            <button class="button__arow-right" type="button" data-action="right">
                <div class="icon-arow--right"></div>
                <div class="icon-arow--rightW"></div>
            </button>
           
    </div>
</section>
{{/each}}