
{{!-- //пользователь не зарегистрирован --}}

<div class="header__account registration">
  <a href="#" class="header__account-link link">Регистрация</a>
  <a href="#" class="header__account-link link">Войти</a>
</div>

   {{!-- позьзователь не зарегистрирован --}}

<div class="header__account user-account">
  <a href="#" class="header__account-link link">
    <svg class="header__icon" width="20" height="20">
        <use href="./images/sprite.svg#icon-user-profile-1"></use>
    </svg><span>Мой кабинет</span>
    </a>
  <a href="#" class="header__account-link link">
    <svg class="header__icon" width="20" height="20">
        <use href="./images/sprite.svg#icon-user-profile-2"></use>
    </svg>
    </a>
</div>