
<ul class="header__filter list" data-mobile-filter></ul>
  {{#each this}}
  <li class="header__filter-item">
    <a href="#" class="header__filter-link link">
      {{name}}
    </a>
  </li>
  {{/each}}
</ul>