<div class="backdrop">
  <div class="modal modal-students">
    <button type="button" class="modal-close-button">
      <div class='modal-close-button__icon'></div>
      <div class='modal-close-button__icon-white'></div>
    </button>
    <div class="gallery-contaoner">
      <ul class="img-container">
      <li class="img-container_list list">
        <div class="img1"></div>
        <p class="img-container_text">Шпанько Никита</p>
      </li>
      <li class="img-container_list list">
        <div class="img2"></div>
        <p class="img-container_text">Игнатьев Дмитрий</p>
      </li>
      <li class="img-container_list list">
        <div class="img3"></div>
        <p class="img-container_text">Ляхоцкий Александр</p>
      </li>
      <li class="img-container_list list">
        <div class="img4"></div>
        <p class="img-container_text">Оксентюк Алина</p>
      </li>
      <li class="img-container_list list">
        <div class="img5"></div>
        <p class="img-container_text">Муратов Арген</p>
      </li>
    </div>
    </ul>
  </div>
</div>
