@mixin light-theme {
  --color-highlight: #ff6b09;
  --color-main-text: #000000;
  --color-main-background: #ffffff;

  --color-header-footer-back: #122438;
  --color-header-text-ads-back: #5e6671;
  --color-footer-text: #8e9198;
}
