$font-family: 'Montserrat', sans-serif;
$trans-func: linear;
$trans-dur: 250ms;
$shadow-default: 0px 2px 4px rgba(0, 0, 0, 0.1);
@mixin light-theme {
  --color-highlight: #ff6b09;
  --color-main-text: #000000;
  --color-main-background: #ffffff;

  --color-ghost: #bbbbbb;
  --color-secondary-advertising-card: #dddee2;
  --color-google-btn: #fafafa;

  --color-header-footer-back: #122438;
  --color-header-text-ads-back: #5e6671;
  --color-footer-text: #8e9198;

  --color-modal-card-code: #878686;
}
