.card__all--content {
  display: block;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    margin-left: 0px;
    height: 306px;
    &:not(:last-child) {
      margin-right: 22px;
    }
  }
}

.card__article {
  margin-bottom: 22px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.card {
  display: block;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  width: 290px;
  height: 300px;

  @media screen and (min-width: 768px) {
    width: 334px;
    height: 306px;
  }

  @media screen and (min-width: 1280px) {
    width: 286px;
    height: 306px;
  }
}

.card__conteiner {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 240px;

  & .card__img {
    width: 100%;
    height: 100%;

    object-fit: contain;
  }

  @media screen and (min-width: 768px) {
    height: 244px;
  }
}

.card__name--price {
  display: block;
  width: 100%;
  height: 67px;
  left: auto;
  right: auto;

  text-align: center;
  bottom: 30px;
}

.card__title {
  margin-bottom: 3px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.card__price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card__old-price {
  display: block;

  text-decoration: line-through;
  margin-right: 25px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #bbbbbb;
}

.card__new-price {
  display: block;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.04em;

  color: #ff6b09;
}

.card__poiter--list {
  display: flex;
  flex-wrap: wrap;
  width: 56px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.card__poiter {
  display: block;

  &:not(:last-child) {
    margin-right: 8px;
  }

  list-style: none;
  background: #cdcdcd;
  width: 6px;
  height: 6px;
  border-radius: 50%;

  &.active__color {
    background: #ff6b09;
  }
}
