.categories {
  margin: 0 auto;
  padding: 20px 0px;
}

.categories__container {
  height: 374px;

  @media screen and (min-width: 768px) {
    height: 354px;
    &:not(:last-child) {
      margin-right: 22px;
    }
  }
  @media screen and (min-width: 1280px) {
    width: 1266px;
  }
}

.container__card--list {
  position: relative;
  height: 328px;
  width: auto;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    height: 310px;
  }
}

.categories__name {
  display: flex;
  margin-bottom: 24px;

  & .categories__titel {
    display: inline-block;
    align-self: baseline;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    margin-right: 10px;
  }
  & .categories__titel--allCard {
    font-size: 12px;
    align-self: baseline;
    text-decoration-line: underline;
    & .categories__titel--link {
      color: var(--color-highlight);
    }
  }

  @media screen and (min-width: 768px) {
    padding: 0px 16px;
  }
}

.categories__card--list {
  display: flex;
  flex-wrap: nowrap;

  @media screen and (min-width: 768px) {
    height: 306px;
    padding: 0px 16px;
  }
}

.button__arow--left,
.button__arow-right {
  display: none;
  cursor: pointer;

  & .icon {
    display: block;
    fill: var(--color-main-text);
  }

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    z-index: 2;
    background-color: #f4f4f4;
    border: 0px;
    top: 123px;
    width: 32px;
    height: 60px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    & .icon {
      fill: var(--color-main-text);
    }

    &:active {
      background-color: var(--color-highlight);
      .icon {
        fill: var(--color-main-background);
      }
    }
  }

  @media screen and (min-width: 1280px) {
    top: 113px;
    &:hover,
    &:focus,
    &:active {
      background-color: var(--color-highlight);

      .icon {
        fill: var(--color-main-background);
      }
    }
  }
}
.button__arow--left {
  left: 0px;
}

.button__arow-right {
  right: 0px;
}

.button__noCard {
  fill: #a2a2a2;
}
