.categories {
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    padding: 20px 0px;
  }
}

.categories__container {
  height: 376px;
  margin: 0 auto;

  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  &:not(:last-child) {
    margin-right: 22px;
  }

  overflow: hidden;

  @media screen and (min-width: 768px) {
    height: 354px;
  }
}
.container__card--list {
  position: relative;
  overflow: hidden;
}

.categories__card--list {
  display: block;

  @media screen and (min-width: 768px) {
    height: 306px;
    display: flex;
    flex-wrap: nowrap;
    padding: 0 16px;
  }
}

.categories__name {
  display: flex;
  align-self: baseline;
  width: 290px;
  margin-bottom: 24px;

  & .categories__titel {
    font-family: Montserrat;
    align-self: baseline;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-right: 12px;
  }
  & .categories__titel--allCard {
    align-self: baseline;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    text-decoration-line: underline;

    color: #ff6b09;
  }

  @media screen and (min-width: 768px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.button__arow--left,
.button__arow-right {
  display: none;
  cursor: pointer;
  &.icon {
    fill: black;
  }

  &:hover,
  &:focus {
    background-color: #ff6b09;
    .icon {
      fill: white;
    }
  }

  @media screen and (min-width: 768px) {
    display: block;
    background-color: #f4f4f4;
    border: 0px;
    position: absolute;
    top: 137px;
    width: 32px;
    height: 60px;
    z-index: 2;

    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 113px;
  }
}
.button__arow--left {
  left: 0px;
}

.button__arow-right {
  right: 0px;
}
.icon {
  z-index: 3;
}
