.modal-card {
  width: 290px;
  padding: 55px 18px 60px 18px;

  box-shadow: 15px 15px 55px rgba(0, 0, 0, 0.3);

  background-color: var(--color-main-background);

  @media screen and (min-width: 768px) {
    width: 724px;
    padding: 57px 52px 64px 57px;
  }
  @media screen and (min-width: 1280px) {
    width: 1025px;
    padding: 57px 125px 66px 94px;
  }
}

.modal-card-conteiner {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.modal-card--imgContiner {
  @media screen and (min-width: 768px) {
    margin-right: 34px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 38px;
  }
}

.modal-card--name {
  margin-bottom: 20px;
  &.isHibenTitelTwo {
    display: none;
  }

  @media screen and (min-width: 768px) {
    &.isHibenTitelTwo {
      display: block;
    }

    &.isHibenTitelOne {
      display: none;
    }
    margin-bottom: 30px;
  }
}

.modal-card--titel {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
}

.modal-card--cod {
  font-weight: 300;
  color: var(--color-modal-card-code);
}

.modal-card--img {
  margin: 0 auto;
  overflow: hidden;
  object-fit: contain;
  text-align: center;
  width: 253px;
  height: 253px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  @media screen and (min-width: 768px) {
    width: 281px;
    height: 333px;
  }
  @media screen and (min-width: 1280px) {
    width: 428px;
    height: 465px;
  }
}

.modal-card--imgCard {
  width: auto;
  height: 100%;
  object-fit: cover;

  margin-left: 50%;
  transform: translateX(-50%);
}
.modal-card--list {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    justify-content: start;
  }
}

.modal-card--poiner {
  overflow: hidden;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 5px;
  }

  list-style: none;
  width: 5px;
  height: 5px;
  border-radius: 50%;

  &.active__color {
    background: var(--color-highlight);
  }

  @media screen and (min-width: 768px) {
    width: 52px;
    height: 56px;
    border-radius: 0%;
  }

  @media screen and (min-width: 1280px) {
    width: 77px;
    height: 73px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.modal-card--imgPreview {
  height: 100%;
  object-fit: cover;

  margin-left: 50%;
  transform: translateX(-50%);
}

.modal-card--price {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 30px;

  color: var(--color-highlight);
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}
.modal-card--bnInfo {
  width: 100%;
  height: 60px;
  padding: 16px 58px;
  background-color: var(--color-highlight);
  color: var(--color-main-background);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  @media screen and (min-width: 1280px) {
    width: 255px;
  }
}

.modal-card--userInfo {
  width: 100%;
  height: 60px;
  padding: 5px 20px;
  color: var(--color-highlight);
  border: 2px solid var(--color-highlight);

  text-align: left;
  text-transform: none;
  font-weight: bold;

  margin-bottom: 20px;
}

.modal-card--isFavorite {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 30px;
}
.modal-card--buttonIsFavorite,
.modal-card--buttonToShare {
  display: flex;
  justify-items: center;
  background-color: inherit;
  padding-left: 0px;
  text-align: center;
  border: none;
  font-weight: 300;
  color: var(--color-modal-card-code);
  cursor: pointer;
  & span {
    display: inline-block;
    margin-right: 12px;
  }
}

.modal-card--buttonIsFavorite {
  margin-right: 24px;
}
.modal-card--description {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 12px;

  color: var(--color-modal-card-code);
}

.modal-card--descriptionAll {
  font-weight: 300;
}

.isDispleyNone {
  display: none;
}

.modal-card--heart,
.modal-card--heartIsFavorite,
.modal-card--share {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal-card--buttonIsFavorite {
  & .modal-card--heart {
    display: block;
    background-image: url('/images/svg/heard-grey.svg');
  }

  & .modal-card--heartIsFavorite {
    display: none;
    background-image: url('/images/svg/heard-red.svg');
  }
}

.modal-card--buttonIsFavorite.isFavorites {
  & .modal-card--heart {
    display: none;
  }

  & .modal-card--heartIsFavorite {
    display: block;
  }
}

.modal-card--share {
  background-image: url('/images/svg/share.svg');
}
