.modal-card {
  position: relative;
  width: 100%;

  margin: auto;

  box-shadow: 15px 15px 55px rgba(0, 0, 0, 0.3);

  background-color: var(--color-main-background);

  @media screen and (min-width: 440px) {
    width: 724px;
  }

  @media screen and (min-width: 768px) {
    width: 1025px;
  }
}
