<footer class="footer">
  <div class="container">
    <div class="footer-sides">
      <div class="footer-top-side">
        <svg width="15px" height="15px">
          <use href="./images/sprite.svg#icon-copy"></use>
        </svg>
        &nbsp;2021 | All Rights Reserved&nbsp;<span class="char-is-hidden">|&nbsp;</span>
      </div>
      <div class="footer-down-side">
        Developed with&nbsp;
        <svg width="16px" height="15px">
          <use href="./images/sprite.svg#icon-heart-footer"></use>
        </svg>
        &nbsp;by&nbsp;
        <!-- <a href="https://goit.ua/" class="footer-link" target="_blank">GoIT Students</a> -->
        <!-- <ul class="footer-tems">
          <li>Никита</li>
          <li>&#128293;Дмитрий</li>
          <li>&#128293;Александр</li>
          <li>&#128293;Алина</li>
          <li>&#128293;Арген</li>
        </ul> -->
        <button type="button" class="btn-students">GoIT Students</button>
      </div>
    </div>
  </div>
</footer>
