<header class="header">
  <!-- <a href="#" class="header__logo"> 
    <svg class="desk-menu__icon">
      <use href="./images/sprite.svg#icon-logo"></use>
    </svg>
  </a>
  <input type="text" class="header__input-search">
  <div class="header__account">
    <a href="#" class="header__account-registration">Регистрация</a>
    <a href="#" class="header__account-entrance">Войти</a>
  </div>
  <button type="button">Создать объявление</button>
  <ul class="header__nav list">
    <li class="header__nav-item"><a href="#" class="header__nav-link">Недвижимость</a></li>
    <li class="header__nav-item"><a href="#" class="header__nav-link">Транспорт</a></li>
    <li class="header__nav-item"><a href="#" class="header__nav-link">Работа</a></li>
    <li class="header__nav-item"><a href="#" class="header__nav-link">Электроника</a></li>
    <li class="header__nav-item"><a href="#" class="header__nav-link">Бизнес и услуги</a></li>
    <li class="header__nav-item"><a href="#" class="header__nav-link">Отдых и спорт</a></li>
    <li class="header__nav-item"><a href="#" class="header__nav-link">Отдам бесплатно</a></li>
    <li class="header__nav-item"><a href="#" class="header__nav-link">Обмен</a></li>
  </ul>
  <button type="button">Очистить</button> -->
<div class="header__mobile container">
  <button type="button" class="header__mobile-btn" data-menu-button>
    <svg class="header__icon burger">
        <use href="./images/sprite.svg#burger-icon"></use>
    </svg>
  </button>
    <a href="#" class="header__logo"> 
      <svg class="header__icon-logo">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <button type="button" class="header__mobile-btn" data-menu-search>
      <svg class="header__icon search">
          <use href="./images/sprite.svg#icon-search"></use>
    </svg>
   </button>

  <div class="header__mobile-menu" data-menu>
    <button type="button" class="header__mobile-btn close-btn " data-menu-close><svg class="header__icon search">
          <use href="./images/sprite.svg#icon-close"></use>
    </svg></button>
    <div class="header__account">
      <a href="#" class="header__account-link link">Регистрация</a>
      <a href="#" class="header__account-link link">Войти</a>
    </div>
    <div class="header__controls">
      <button type="button" class="header__mobile-btn filter-btn">
        <svg class="header__icon filter">
          <use href="./images/sprite.svg#icon-filter"></use>
    </svg>
        Фильтры</button>
      <button type="button" class="header__mobile-btn reset-btn">
        <svg class="header__icon reset">
          <use href="./images/sprite.svg#icon-reset"></use>
    </svg>
        Очистить</button>
    </div>
    <ul class="header__filter list">
      <li class="header__filter-item"><a href="#" class="header__filter-link link">Недвижимость</a></li>
      <li class="header__filter-item"><a href="#" class="header__filter-link link">Транспорт</a></li>
      <li class="header__filter-item"><a href="#" class="header__filter-link link">Работа</a></li>
      <li class="header__filter-item"><a href="#" class="header__filter-link link">Электроника</a></li>
      <li class="header__filter-item"><a href="#" class="header__filter-link link">Бизнес и услуги</a></li>
      <li class="header__filter-item"><a href="#" class="header__filter-link link">Отдых и спорт</a></li>
      <li class="header__filter-item"><a href="#" class="header__filter-link link">Отдам бесплатно</a></li>
      <li class="header__filter-item"><a href="#" class="header__filter-link link">Обмен</a></li>
    </ul>
  </div>
 

 


</div>
</header>

