<section class="hero">
  <div class="hero__container">
    <h1 class="visually-hidden">самые лучшие товары только у нас</h1>
    <ul class="advertising-list list">
      <li class="advertising-list__item advertising-list__item--main-item">
        <div class="advertising-list__shell">
          <div class="advertising-list__img-wrapper">
            <img
              src="https://storage.googleapis.com/kidslikev2_bucket/watches_PNG9854.png"
              alt=""
            />
          </div>
          <div class="advertising-list__content-wrapper">
            <h3 class="advertising-list__title">Smart Watch</h3>
            <p class="advertising-list__price">799</p>
          </div>
        </div>
      </li>
      <li class="advertising-list__item">
        <div class="advertising-list__shell">
          <div class="advertising-list__img-wrapper">
            <img
              src="https://storage.googleapis.com/kidslikev2_bucket/bdefcbc72735f64db17f3250b1e64245.png"
              alt=""
            />
          </div>
          <div class="advertising-list__content-wrapper">
            <h3 class="advertising-list__title">New T-Shirt</h3>
            <p class="advertising-list__price">699</p>
          </div>
        </div>
      </li>
      <li class="advertising-list__item">
        <div class="advertising-list__shell">
          <div class="advertising-list__img-wrapper">
            <img
              src="https://storage.googleapis.com/kidslikev2_bucket/photo_camera_PNG7834.png"
              alt=""
            />
          </div>
          <div class="advertising-list__content-wrapper">
            <h3 class="advertising-list__title">Nikon Camera</h3>
            <p class="advertising-list__price">3499</p>
          </div>
        </div>
      </li>
      <li class="advertising-list__item">
        <div class="advertising-list__shell">
          <div class="advertising-list__img-wrapper">
            <img
              src="https://storage.googleapis.com/kidslikev2_bucket/580b57fbd9996e24bc43bfe2.png"
              alt=""
            />
          </div>
          <div class="advertising-list__content-wrapper">
            <h3 class="advertising-list__title">Smart Watch</h3>
            <p class="advertising-list__price">799</p>
          </div>
        </div>
      </li>
      <li class="advertising-list__item">
        <div class="advertising-list__shell">
          <div class="advertising-list__img-wrapper">
            <img
              src="https://storage.googleapis.com/kidslikev2_bucket/58ac44f7f86c9c2eea74c4e6.png"
              alt=""
            />
          </div>
          <div class="advertising-list__content-wrapper">
            <h3 class="advertising-list__title">Smart Watch</h3>
            <p class="advertising-list__price">799</p>
          </div>
        </div>
      </li>
      <li class="advertising-list__item">
        <div class="advertising-list__shell">
          <div class="advertising-list__img-wrapper">
            <img
              src="https://storage.googleapis.com/kidslikev2_bucket/z120-stereo-speakers.png"
              alt=""
            />
          </div>
          <div class="advertising-list__content-wrapper">
            <h3 class="advertising-list__title">Smart Watch</h3>
            <p class="advertising-list__price">799</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
