<section class="hero">
  <div class="hero__container">
    <h1 class="visually-hidden">самые лучшие товары только у нас</h1>
    <ul class="advertising-list list">
      <li class="advertising-list__item">
        <div class="wrapper-hero"></div>
      </li>
      <li class="advertising-list__item">2</li>
      <li class="advertising-list__item">3</li>
      <li class="advertising-list__item">4</li>
      <li class="advertising-list__item">5</li>
      <li class="advertising-list__item">6</li>
    </ul>
  </div>
</section>
