<div class="backdrop is-hidden add">
  <div class="modal modal-adv">
    <button type="button" class="modal-close-button">
      <div class='modal-close-button__icon'></div>
      <div class='modal-close-button__icon-white'></div>
    </button>

    <form class="form-modal-adv">
      <p class="form-modal-adv__title">Создать объявление</p>
      <label for="product-name" class="form-modal-adv__label">
        <span class="form-modal-adv__text">Название товара</span>
        <span class="form-modal-adv__wrapper">
          <input 
            type="text" 
            class="form-modal-adv__input _hvr" 
            name="product-name" 
            id="product-name" 
            required
            minlength="2"
          />
        </span>
      </label>
      <label class="form-modal-adv__label">
        <span class="form-modal-adv__text">Фото</span>
          <div class="containerImg form-modal-adv__wrapper form-modal-adv__list">
            <div class="containerImgg">
              <span class="containerImgg_add">+</span>
              <input type="file" class="containerImgg_inp" accept=".jpg, .jpeg, .png"/>
            </div>
          </div>
      </label>
      <label class="form-modal-adv__label">
        <span class="form-modal-adv__text">Описание товара</span>
        <span class="form-modal-adv__wrapper">
          <textarea class="form-modal-adv__desc _hvr" name="product__description"></textarea>
      </label>
        </span>
      <label class="form-modal-adv__label">
        <span class="form-modal-adv__text">Категория товара</span>
        <span class="form-modal-adv__wrapper">
          <select name="product-category" class="form-modal-adv__select"></select>
        </span>
      </label>
      <label class="form-modal-adv__label">
        <span class="form-modal-adv__text">Цена</span>
        <span class="form-modal-adv__wrapper">
          <input
            type="number"
            class="form-modal-adv__input _hvr input-price"
            name="product-price"
            placeholder="0.00 €"
          />
        </span>
      </label>
      <label class="form-modal-adv__label">
        <span class="form-modal-adv__text">Телефон</span>
        <span class="form-modal-adv__wrapper">
          <input
            type="tel"
            class="form-modal-adv__input _hvr"
            name="product-tel"
            placeholder="+380 -- --- -- --"
            pattern="^\+?3?8?(0[\s\.-]\d{2}[\s\.-]\d{3}[\s\.-]\d{2}[\s\.-]\d{2})$"
            title="+380 -- --- -- --"
            required
          />
        </span>
      </label>
      <button type="submit" class="primary-button form-modal-adv__button">Добавить</button>
    </form>
  </div>
</div>
