.modal-authorization {
  position: relative;
  width: 100%;
  padding: 50px 20px;
  margin: auto;

  box-shadow: 15px 15px 55px rgba(0, 0, 0, 0.3);

  background-color: var(--color-main-background);
  transform: scale(1);
  transition: transform linear 250ms;

  @media screen and (min-width: 440px) {
    width: 410px;
  }

  @media screen and (min-width: 768px) {
    width: 530px;
    padding: 50px;
  }
}

.authorization-form__text {
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 1.25;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.21;
  }
}

.authorization-form__google-button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  cursor: pointer;

  height: 50px;
  min-width: 150px;
  background: var(--color-google-btn);
  border: none;

  box-shadow: $shadow-default;
  transition: background-color linear 250ms;

  &:hover {
    background-color: var(--color-main-background);
  }

  @media screen and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
}

.authorization-form__input {
  color: inherit;
  display: block;
  width: 100%;
  margin-bottom: 30px;

  border: 1px solid var(--color-ghost);
  padding: 18px 25px;

  font-size: 12px;
  line-height: 1.25;

  @media screen and (min-width: 768px) {
    padding: 20px;

    font-size: 14px;
    line-height: 1.21;
    &:nth-child(5) {
      margin-bottom: 40px;
    }
  }

  &::placeholder {
    color: var(--color-ghost);
  }
}

.authorization-form__button-wrapper {
  display: flex;
  justify-content: space-between;
}

.button--authorization-form {
  height: 50px;
  min-width: 120px;

  font-size: 12px;
  line-height: 1.25;

  @media screen and (min-width: 768px) {
    height: 60px;
    min-width: 200px;

    font-size: 14px;
    line-height: 1.21;
  }
}

.button-registration {
  text-transform: uppercase;
}
