.modal-authorization {
  width: 100%;
  padding: 50px 20px;

  box-shadow: 15px 15px 55px rgba(0, 0, 0, 0.3);

  background-color: var(--color-main-background);

  @media screen and (min-width: 440px) {
    width: 410px;
  }

  @media screen and (min-width: 768px) {
    width: 530px;
    padding: 50px;
  }
}

.authorization-form__text {
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 1.25;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.21;
  }
}

.authorization-form__google-button {
  display: inline-flex;

  margin-bottom: 30px;
  cursor: pointer;

  height: 50px;
  min-width: 150px;
  background-color: var(--color-google-btn);
  border: none;

  background-image: url(../images/google.svg);
  background-repeat: no-repeat;
  background-position: center;

  box-shadow: $shadow-default;
  transition: background-color linear 250ms;

  &:hover {
    background-color: var(--color-main-background);
  }

  @media screen and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
}

.authorization-form__label {
  position: relative;
}

.authorization-form__input {
  color: inherit;
  display: block;
  width: 100%;
  margin-bottom: 30px;

  border: 1px solid var(--color-ghost);
  padding: 18px 25px;

  font-size: 12px;
  line-height: 1.25;
  outline: none;

  @media screen and (min-width: 768px) {
    padding: 20px;
    font-size: 14px;
    line-height: 1.21;
    &:nth-child(5) {
      margin-bottom: 40px;
    }
  }

  &::placeholder {
    color: var(--color-ghost);
  }

  &:focus {
    border-color: var(--color-highlight);
  }

  &:not(:placeholder-shown):required:invalid {
    border-color: red;
  }

  &:not(:placeholder-shown):required:invalid + span::after {
    display: block;
    width: 260px;
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -80px;
    left: -3px;
  }

  &[name='email']:not(:placeholder-shown):required:invalid + span::after {
    content: 'Неверный email!';
  }
  &[name='password']:not(:placeholder-shown):required:invalid + span::after {
    content: 'Неверный пароль, от 6 до 16 символов';
  }
}

.authorization-form__button-wrapper {
  display: flex;
  justify-content: space-between;
}

.button--authorization-form {
  height: 50px;
  min-width: 120px;

  font-size: 12px;
  line-height: 1.25;

  @media screen and (min-width: 768px) {
    height: 60px;
    min-width: 200px;

    font-size: 14px;
    line-height: 1.21;
  }
}

.button-registration {
  text-transform: uppercase;
}
