.form-modal-adv__input {
  &::placeholder {
    color: var(--color-main-text);
  }
}

.form-modal-adv__del {
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.07em;
}

.form-modal-adv__icon-del {
  margin-right: 10px;
}

.form-modal-adv__del {
  position: relative;
}
.checkbox {
  position: absolute;
  top: 0px;
  left: 0px;
}

.form-modal-edit {
  display: block;
  margin: 0 auto;
  border: none;
  background-color: inherit;
}

.form-modal-edit::before {
  content: url(/images/svg/deletefile.svg);
  width: 13px;
  height: 14px;
  margin-right: 10px;
}
