.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal-adv {
  width: 100%;
  min-height: 845px;
  padding-top: 54px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;

  box-shadow: 15px 15px 55px rgba(0, 0, 0, 0.3);

  background-color: var(--color-main-background);

  @media screen and (min-width: 768px) {
    padding-left: 53px;
    padding-right: 55px;
    padding-bottom: 60px;
    width: 724px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 57px;
    padding-right: 58px;
    width: 950px;
  }
}

.form-modal-adv__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-main-text);
}
.form-modal-adv__label {
  justify-content: space-between;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-bottom: 20px;
  }
}
.form-modal-adv__text {
  display: flex;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    align-items: center;
  }
}
.form-modal-adv__wrapper {
  margin-top: 10px;
  position: relative;
  display: flex;

  @media screen and (min-width: 768px) {
    width: 458px;
  }

  @media screen and (min-width: 1200px) {
    width: 610px;
  }
}
.form-modal-adv__input {
  width: 100%;
  height: 56px;
  margin: 0;
  padding-left: 23px;
  border: 1px solid var(--color-ghost);

  &::placeholder {
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-ghost);
  }

  &:focus {
    outline: none;
    cursor: pointer;
    border-color: var(--color-highlight);
  }
}

.form-modal-adv__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(-1 * 10px);
}

.form-modal-adv__desc {
  resize: vertical;
  width: 100%;
  height: 56px;
  border: 1px solid var(--color-ghost);
  padding: 18px 23px;

  &:focus {
    outline: none;
    cursor: pointer;
    border-color: var(--color-highlight);
  }
}

.form-modal-adv__select {
  display: flex;
  width: 100%;
  height: 56px;
  border: 1px solid var(--color-ghost);
  background: url(../images/arrow-black.png) no-repeat transparent;
  background-position: 95% 49%;
  appearance: none;
  padding-left: 23px;

  &:focus {
    outline: none;
    cursor: pointer;
    border-color: var(--color-highlight);
  }
}

.form-modal-adv__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 41px;
  width: 100%;
  max-width: 286px;
  height: 60px;
  text-transform: uppercase;
  transition: background-color 250ms linear 250ms;
}

.form-modal-adv__add-photo {
  width: 78px;
  height: 50px;
  margin-left: 10px;
  background: #f5f6fb;
  border: none;
  appearance: none;
}

.containerImgg {
  display: flex;
  position: relative;
  width: calc(100% / 3 - 10px);
  margin-bottom: 10px;
  margin-right: 10px;
  // width: 78px;
  height: 50px;
  border: none;
  cursor: pointer;
  color: var(--color-ghost);
  background: #f5f6fb;

  @media screen and (min-width: 768px) {
    width: calc(100% / 5 - 10px);
  }

  @media screen and (min-width: 1280px) {
    width: 78px;
  }

  &_add {
    font-size: 22px;
    color: #bbbbbb;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover &_add {
    font-size: 35px;
  }

  &:hover {
    opacity: 0.7;
  }

  &_inp {
    display: none;
  }
}
.form-modal-adv__upload-file-label-is-hidden {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.newImg {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
