.form-modal-adv__input {
  &::placeholder {
    color: var(--color-main-text);
  }
}

.form-modal-adv__del {
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.07em;
}

.form-modal-adv__icon-del {
  margin-right: 10px;
}

.form-modal-adv__del {
  position: relative;
}
.checkbox {
  position: absolute;
  top: 0px;
  left: 0px;
}

.form-modal-edit {
  display: block;
  cursor: pointer;
  margin: 0 auto;
  margin-left: 0;
  padding-left: 0;
  margin-top: 20px;
  border: none;
  background-color: inherit;
  @media screen and (min-width: 768px) {
    margin-left: 160px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 225px;
  }

  &:hover {
    color: var(--color-highlight);
    .form-modal-edit::before {
      content: url(/images/svg/file-del-ora.svg);
    }
  }
}

.form-modal-edit::before {
  content: url(/images/svg/deletefile.svg);
  width: 13px;
  height: 14px;
  margin-right: 10px;
}
