.form-modal-adv__input {
  &::placeholder {
    color: var(--color-main-text);
  }
}

.form-modal-adv__del {
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.07em;
}

.form-modal-adv__icon-del {
  margin-right: 10px;
}
