.header {
  background-color: var(--color-header-footer-back);
  color: var(--color-header-text-ads-back);
  font-size: 12px;
  line-height: 1.25;

  &__mobile {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .is-orange {
    color: var(--color-highlight);
    border: 1px solid var(--color-highlight);
  }

  &__icon-logo {
    width: 64px;
    height: 40px;
  }

  &__icon {
    fill: var(--color-header-text-ads-back);
  }

  &__btn {
    color: var(--color-header-text-ads-back);
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:hover {
      color: var(--color-header-text-ads-back);
      .header__icon {
        fill: var(--color-highlight);
      }
    }
  }
  &__account-linkink {
    text-decoration: none;
    color: var(--color-header-text-ads-back);
    & span {
      margin-left: 6px;
    }
    &:hover {
      color: var(--color-header-text-ads-back);
      span {
        color: var(--color-highlight);
      }
      .header__icon {
        fill: var(--color-highlight);
      }
    }
  }

  &__mobile-menu {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 95vw;
    height: 100vh;
    background-color: var(--color-header-footer-back);
    padding-top: 73px;
    padding-left: 14px;

    transform: translateX(-100%);
    transition: transform 500ms linear;

    .close-btn {
      position: absolute;
      top: 29px;
      right: 25px;
      background-color: transparent;
      padding: 0;
    }
  }
  &__account {
    margin-bottom: 40px;
  }

  .reg-is-hidden {
    display: none;
  }

  .user-account {
    display: flex;
    position: relative;
    padding: 12px 0;
  }

  .cab-is-hidden {
    display: none;
  }

  .user-account .link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    span {
      margin-left: 10px;
    }
  }

  &__account-link:not(:first-child) {
    padding-left: 12px;
  }

  &__account-link:first-child {
    border-right: 2px solid var(--color-header-text-ads-back);
    padding-right: 12px;
  }

  &__account-link:hover {
    &:hover,
    &:focus {
      color: var(--color-highlight);
      .header__icon {
        fill: var(--color-highlight);
      }
    }
  }

  &__controls {
    margin-bottom: 30px;
    display: flex;
  }

  .controls-btn {
    display: flex;
    align-items: center;
    padding: 0;

    span {
      margin-left: 13px;
    }
    &:hover {
      color: var(--color-highlight);
    }
  }
  .controls-btn:not(:last-child) {
    margin-right: 55px;
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    transition: opacity 500ms linear;
  }

  &__filter-item {
    border: 1px solid var(--color-header-text-ads-back);
    border-radius: 20px;
    padding: 8px 6px;
    margin-right: 8px;
    margin-bottom: 20px;
    &:hover {
      box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
    }
  }

  &__desk,
  &__desk-filter {
    display: none;
  }

  .is-open {
    transform: translateX(0%);
  }

  .is-open-filter {
    opacity: 1;
  }

  &__mobile-burger-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__search-wrapper-mob {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    width: 320px;
    height: 70px;
    padding: 19px 10px;
    margin: 0 auto;
    background: var(--color-header-footer-back);

    transform: translateY(-100%);
    transition: transform 500ms linear;
  }
  &__input-search-mob {
    height: 32px;
    width: 294px;
    padding-left: 5px;

    font-size: 16px;
    color: var(--color-header-footer-back);
  }
  .is-search {
    transform: translateY(0%);
    opacity: 150;
  }

  &__input-search-btn {
    position: absolute;
    top: 25px;
    right: 18px;
  }

  @media screen and (min-width: 768px) {
    &__filter-link {
      padding: 8px 12px;
    }

    &__mobile {
      display: none;
    }

    &__desk {
      position: relative;
      display: block;
      padding-top: 31px;
      padding-bottom: 31px;
    }

    &__desk-main {
      display: flex;
      align-items: center;
    }

    &__logo {
      width: 100%;
      display: inline-block;
      margin-bottom: 20px;
    }

    &__input-search {
      width: 410px;
      height: 44px;
      padding-left: 10px;
      font-size: 20px;
      color: var(--color-header-footer-back);
    }

    &__search-wrapper {
      position: relative;
    }

    &__input-search-btn {
      position: absolute;
      top: 12px;
      left: 365px;
    }

    &__search-icon {
      fill: black;
      &:hover {
        fill: var(--color-highlight);
      }
    }

    &__left-container {
      display: flex;
      align-items: center;
      position: absolute;
      right: 38px;
      top: 32px;
    }

    &__right-container {
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: center;
    }

    &__account {
      margin-right: 24px;
      margin-bottom: 0;
      margin-left: 0;
    }

    &__user-account-wrapper {
      width: 183px;
      height: 94px;
      padding: 20px;
      background-color: #ffffff;
      position: absolute;
      z-index: 200;
      top: 40px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      display: none;
    }

    &__user-account-list {
      display: flex;
      flex-direction: column;
    }

    &__user-account-item:hover {
      color: var(--color-highlight);
    }

    &__user-account-item:not(:last-child) {
      margin-bottom: 20px;
    }

    &__create-btn {
      padding: 13px 37px;
    }
    &__desk-filter {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__desk-filter-relative {
      position: relative;
      width: 100%;
      z-index: 100;
    }

    &__filter {
      position: absolute;
      top: 0;
      left: 0;
      height: 0;
      width: 100%;
      background-color: var(--color-header-footer-back);
      padding-top: 30px;
      padding-bottom: 33px;
      overflow: hidden;
      transition: height 500ms linear;
    }

    .list {
      display: flex;
      flex-wrap: wrap;
    }

    .is-open-filter {
      height: 144px;
    }

    &__filter-buttons {
      position: absolute;
      display: flex;
      right: 38px;
      top: 108px;
      z-index: 300;
    }

    &__filter-item {
      margin-bottom: 20px;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  @media screen and (min-width: 1280px) {
    &__desk {
      padding-bottom: 68px;
    }

    &__desk-main {
      margin-bottom: 24px;
    }

    &__right-container {
      flex-direction: row;
    }

    &__user-account-link {
      color: var(--color-main-text);
    }

    .account-modal:hover .header__user-account-wrapper {
      display: none;
    }

    &__user-account-wrapper {
      color: var(--color-highlight);
    }

    &__icon-logo {
      width: 71px;
      height: 44px;
    }

    &__logo {
      margin-right: 31px;
      margin-bottom: 0;
    }

    &__input-search {
      padding-left: 10px;
      font-size: 20px;
      color: var(--color-header-footer-back);
    }

    &__filter {
      padding-top: 24px;
      padding-bottom: 50px;
    }

    &__desk-filter {
      top: -86px;
      opacity: 1;
    }

    &__filter-buttons {
      margin-bottom: 0;
      top: 110px;
      &:hover,
      &:focus {
        color: var(--color-highlight);
        .header__icon {
          fill: var(--color-highlight);
        }
      }
    }

    .filter-btn {
      display: none;
    }
  }
}
