.load__more--button {
  width: 100%;
  height: 70px;
  cursor: pointer;
  border: none;
  background-color: #02172a;
  color: var(--color-main-background);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  color: var(--button-text-color);

  @media screen and (min-width: 768px) {
    height: 96px;
  }
  @media screen and (min-width: 1280px) {
    height: 106px;
  }
}
